body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
}

h1 {
  color: #333;
}
#result .green {
  color: #2ecc71;
}

#result .red {
  color: #e74c3c;
}
#result {
  text-align: center;
}

#restart {
  width: 150px;
  height: 50px;
  background-color: #068fffe3;
  color: white;
}

#restart:hover{
  background-color: purple;
}